SOAApplication/**/*classes*
SOAApplication/.data
SOAApplication/SOAComposite/.data
SOAApplication/SOAComposite/SOA/SCA-INF/bpel
SOAApplication/SOAComposite/SOA/SCA-INF/*diagram*
SOAApplication/**/*test-output